.starProduct{
    display: flex;
    align-items: center;
   justify-content: center;
  padding: 0 2vmax;
   margin: 1vmax auto;
   
}


.starProduct>div:last-child{
    display:flex;
    flex-wrap: wrap;
    width: 56%;
}

.starProduct img{
    transition: all 0.5s;
}

.starProduct img:hover{
    box-shadow: 6px 6px 15px rgba(53, 53, 53, 0.383);
}